.button {
  border: 0;
  border-radius: 10px;
  background: linear-gradient(to right, #2E00B1, #A400BE);
  color: #fff;
}

.button:hover {
  background: linear-gradient(to left, #2E00B1, #A400BE);
}

.button:focus {
  background: linear-gradient(to left, #2E00B1, #A400BE, #2E00B1);
}

.button:active {
  background: #2E00B1;
}

.value {
  display: block;
  margin: 0px auto;
  font-weight: 700;
}