.account {
  padding: 16px 20px;
  color: #C6B6D7;
  background-color: #392350;
  border: 2px solid #392350;
  border-radius: 10px;
}

.account:hover {
  border-color: #B865D6;
}

.number {
  display: block;
  margin-bottom: 20px;
}

.balance {
  display: block;
  font-size: 32px;
  font-weight: 600;
  color: #FFF;
  margin-bottom: 28px;
}

.info {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
}